.image-section {
  /* background-color: #907734; */
  /* height: 370px; */
}

.crop-container {
  width: 100%;
    height: 280px;
    flex: 1 1;
    background-color: #907734;
    position: relative;
}

.magazine-crop-text {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}